<div ng-controller="CreateNewDocController">
	<div class="row-fluid">
		<h1>Please create the architecture that you need for your document here... </h1>
	</div>
	<hr />
	<h3>Use the different buttons to either create new sections or modified there position in the architectures</h3>
	<p> The idea here is design the struture of the document before writing it. The philosophie of PIE is to follow presicely the real workflow of the creation of a document, which obviously start here... </p>
	<hr />
	<button class="btn btn-large btn-success" ng-click="sendArchitecture()"><i class="icon-plus"></i> Save Architecture ! </button>		
	<div class="offset5"><h2>Document Title  {{documentTitle}}</h2></div>
	<div class="offset5"><input type="text" ng-model="documentTitle" placeholder="Document Title"></div>
	<li ng-repeat="part in architectureLevels" class="offset{{part.level-1}}">  
		{{ getPartIndice(part, architectureLevels) }}
		<input type="text"  ng-model="part.title" placeholder="Section title">
		<div class="btn-group">
			<button class="btn btn-mini" ng-hide="removeButtonHide(part,architectureLevels)" data-toggle="dropdown" ng-click="removePart(part)"><i class="icon-remove"></i> </button>
			<button class="btn btn-mini" ng-hide="backwardButtonHide(part)" data-toggle="dropdown" ng-click="stepBackward(part)"><i class="icon-step-backward"></i> </button>
			<button class="btn btn-mini" ng-hide="forwardButtonHide(part,architectureLevelss)" data-toggle="dropdown" ng-click="stepForward(part)"><i class="icon-step-forward"></i> </button>
			<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-plus-sign"></i> <span class="caret"></span></button>

			<ul class="dropdown-menu pull-right">
				<li><a href="" ng-click="createSubPart(part)">Create a subpart here</a></li>
				<li class="divider"></li>
				<li><a href="" ng-click="createNewPart(part)">Create a new part here!</a></li>
			</ul>
		</div>
	</li> 
	</div>

	
</div>
</div>
