<div ng-controller="CreateNewDocController">
	<div class="row-fluid">
		<h1>This is the page to create a new document of size = {{size}} </h1>
	</div>
	<hr />
	<div>
			<li ng-repeat="part in architectureLevels" class="offset{{getPartLevel(part)-1}}">  
				{{ getPartIndice(part, architectureLevels) }}
				<input type="text"  placeholder="{{part.text}}">
				<div class="btn-group">
					<button class="btn btn-mini" data-toggle="dropdown" ng-click="removePart(part)"><i class="icon-remove"></i> </button>

					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i> <span class="caret"></span></button>

					<ul class="dropdown-menu pull-right">
						<li><a href="" ng-click="createSubPart(part)">Create a subpart here</a></li>
						<li class="divider"></li>
						<li><a href="" ng-click="createNewPart(part)">Create a new part here!</a></li>
					</ul>
				</div>
			</li> 
	</div>

	
</div>
</div>
