<div fixedheight ng-controller="EditController">
	<div class="row-fluid">
		<h1>{{ document.title }}</h1>

		<div class="btn-group">
			<a href="/#/architecture/{{ document._id }}" class="btn btn-success"><i class="icon-wrench icon-white"></i> Modify Architecture !</a>
			<a href="{{ downloadUrl }}" class="btn btn-primary"><i class="icon-download icon-white"></i> Get PDF</a>
		</div>
	</div>

	<hr />

	<div ng-repeat="section in document.content" class="row-fluid">
		<div class="level{{ section.level }}">
			{{ section.title }}

			<div class="faded pull-right">
				<div class="btn-group">
					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i> <span class="caret"></span></button>

					<ul class="dropdown-menu pull-right">
						<li ng-repeat="discussion in section.discussions">
							<a href="" ng-click="showDiscussion(discussion)">{{ discussion.title }}<i class="icon-chevron-right pull-right"> </i></a>
						</li>
						<li class="divider"></li>
						<li><a href="" ng-click="createDiscussion(section)">Create a new discussion!</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div ng-dblclick="edit(section)" ng-hide="section.isMyContentEditable == true">
			<piemarkdown content="section.content"></piemarkdown>
		</div>
		<textarea ng-show="section.isMyContentEditable == true" ng-model="section.content" class="span12" rows="10" placeholder="Edit me" ngc-blur="edit(section)"></textarea>
	</div>
</div>
