<div fixedheight ng-controller="EditController">
	<div class="row-fluid">
		<div class="row-fluid"><h1>{{ document.title }}</h1> (Version {{document.version + 1}} of {{lastVersion + 1}})</div>

		<div class="btn-group">
			<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
				Export
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="{{ downloadUrl }}.pdf"  target="_blank"><i class="icon-download"></i> PDF</a></li>
				<li><a href="{{ downloadUrl }}.odt"  target="_blank"><i class="icon-download"></i> ODT</a></li>
			</ul>
		</div>
		
		<div class="btn-group">
			<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
				Versions
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">	
				<div data-ng-repeat="i in range">
					<li><a ng-click="getDocumentVersion(i)" > Version {{i+1}}</a></li>
				</div>
			</ul>
		</div>

		<div class="btn-group" ng-hide="user.login != document.owner || document.version != lastVersion">
			<a href="/#/architecture/{{ document.docId }}" class="btn btn-primary"><i class="icon-wrench icon-white"></i> Modify Architecture</a>
			<button class="btn btn-primary" ng-click="newIteration()"><i class="icon-refresh icon-white"></i> New iteration</button>
		</div>	
	</div>
	<hr />

	<div ng-repeat="section in document.content" class="row-fluid">
		<div id="{{section.title}}" class="level{{ section.level }}">
			<a  ng-click="edit(section)">{{ getPartIndice( section, document.content ) }}
			{{ section.title }} </a>
			<div class="faded pull-right">
				<div class="btn-group">
					<button data-toggle="tooltip" title="Person in charge" class="btn btn-mini"><i class="icon-user"></i>{{ section.owner.login }}</button>
					<button data-toggle="tooltip" title="Discussions" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> <span class="caret"></span></button>

					<ul class="dropdown-menu pull-right">
						<li ng-repeat="discussion in section.discussions">
							<a href="" ng-click="showDiscussion(discussion)">
								{{ discussion.title }}
								<span class="pull-right">
									<i class="icon-ok-circle" ng-show="discussion.resolved == true"></i>
									<i class="icon-chevron-right right"></i>
								</span>
							</a>
						</li>
						<li class="divider"></li>
						<li><a href="" ng-click="createDiscussion(section)">Create a new discussion!</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-dblclick="edit(section)" ng-hide="section.isMyContentEditable == true">
			<piemarkdown content="section.content"></piemarkdown>
		</div>
		<textarea ng-show="section.isMyContentEditable == true" ng-model="section.content" class="span12" rows="10" placeholder="Edit me" ngc-blur="edit(section)" insert-tab></textarea>
	</div>
</div>
