<div fixedheight ng-controller="EditController">
	<div class="row-fluid">
		<h1>{{ document.title }}</h1>
		<a href="/#/architecture/{{document._id}}"><button class="btn btn-large btn-success" ng-click="modifiedArchitecture()"><i class="icon-wrench"></i> Modified Architecture ! </button></a>
	</div>

	<hr />
	
	<div ng-repeat="section in document.content" class="row-fluid">
		<div class="level{{ section.level }}">
			{{ section.title }}

			<div class="faded pull-right">
				<div class="btn-group">
					<button class="btn btn-mini" ng-click="edit(section)">
						<i class="{{ editButtonImage(section) }}"></i>
					</button>

					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i> <span class="caret"></span></button>

					<ul class="dropdown-menu pull-right">
						<li ng-repeat="discussion in section.discussions">
							<a href="" ng-click="showDiscussion(discussion)">{{ discussion.title }}<i class="icon-chevron-right pull-right"> </i></a>
						</li>
						<li class="divider"></li>
						<li><a href="" ng-click="createDiscussion(section)">Create a new discussion!</a></li>
					</ul>
				</div>
				
				
			</div>
		</div>

		<div ng-hide="section.isMyContentEditable == true">
			<piemarkdown content="section.content"></piemarkdown>
		</div>
		<textarea ng-show="section.isMyContentEditable == true" ng-model="section.content" class="span12" rows="10"></textarea>
	</div>
</div>
