<div class="page-header">
	<h1>Nothing to see here…<small> yet! Sorry.</small></h1>
</div>


<div class="row-fluid">
	<h2>Current functionnalities</h2>
	<table class="table table-striped">
		<thead>
			<th>URL</th>
			<th>Functionnality</th>
		</thead>
		<tbody>
			<tr>
				<td><a href="/#/edit/1">/#/edit/1</a></td>
				<td>Edit the document with id 1</td>
			</tr>
			<tr>
				<td><a href="/#/discuss/2">/#/discuss/2</a></td>
				<td>Read and talk about the discussion with id 2</td>
			</tr>
			<tr>
				<td><a href="/#/editAndDiscuss/1/2">/#/editAndDiscuss/1/2</a></td>
				<td>Edit the document with id 1 and talk about the discuss with id 2 at the same time</td>
			</tr>
			<tr>
				<td><a href="/#/login">/#/login</a></td>
				<td>Ask the needed informations for login and manage new registration if needed</td>
			</tr>
			<tr>
				<td><a href="/#/createNewDoc">/#/createNewDoc</a></td>
				<td> Page to create a new document </td>
			</tr>
		</tbody>
	</table>
</div>
