<div ng-controller="LoginController">
	<div class="row-fluid">
		<h1>Hello : this is the login page </h1>
		<hr />
	</div>
	<div class="row-fluid">
		<h2> You can run some test using this mockuser </h2>
		<h3> MockUser : UserName = "{{ user.name }}" , password = "{{ user.password }}", email : "{{user.email}}"</h3>
		<hr />
	</div>
	
	<!-- Menu -->
	<div class="row-fluid">
		<!-- Side Menu -->
		<div class="well span2 side-menu">
			<ul class="nav nav-list">
				<li class="nav-header">PIE</li>
				<li class={{menuTabLogin}}><a ng-click="menuClickOnLogin()" data-toggle="tab"><i class="icon-chevron-right"></i> Login</a></li>
				<li class={{menuTabRegister}}><a ng-click="menuClickOnRegister()" data-toggle="tab"><i class="icon-chevron-right"></i> Registration</a></li>
			</ul>
		</div>
		<!-- End side menu -->
		
		<!-- Menu  Content -->
		<div class="tab-content span10">
			<!-- Login Form -->  
			<div class="tab-pane {{menuTabPaneLogin}}">
				<div class="span9 row-fluid formhorizontal well">
					<form ng-submit="getLog()">
						<fieldset>
							<label ng-model="test">
								<textarea id="inputUserName" placeholder="UserName" ng-model="userName" required rows="1" class="span3"></textarea>
							</label>
							<label>
								<textarea id="inputPassword" placeholder="Password" ng-model="password" required rows="1" class="span3" ></textarea>
							</label>

							<button type="submit" class="btn input-large">Login</button>
							<button class="btn input-large" ng-click="showForgotPasswordModal()">Forgot Password ?</button>
						</fieldset>
					</form>
				</div>
			</div>
			<!-- End of login form -->
			<!-- Register Form -->  
			<div class="tab-pane {{menuTabPaneRegister}}">
				<div class="span9 row-fluid formhorizontal well">
					<form ng-submit="getRegistration()">
						<fieldset>
							<label ng-model="test">
								<textarea id="inputNewUserName" placeholder="UserName" ng-model="newUserName" required rows="1" class="span5"></textarea>
							</label>
							<label>
								<textarea id="inputNewPassword" placeholder="Password" ng-model="newPassword" required rows="1" class="span5" ></textarea>
							</label>
							<label>
								<textarea id="inputNewRetypePassword" placeholder="Re-type Password" ng-model="newReTypePassword" required rows="1" class="span5" ></textarea>
							</label>
							<label>
								<textarea id="inputNewEmail" placeholder="Email Adresse" ng-model="newEmail" required rows="1" class="span5" ></textarea>
							</label>
							<div>
									<div class="form-label raw-fluid">
										<input type="checkbox" ng-model="terms.checked">
										<label for="termsCheckbox" class="help-inline checkbox">I Accept the <a role="button" data-toggle="modal" ng-click="showTermsAndConditionsModal()">{{terms.text}}</a> of the SurveyVor system.</label>
									</div>
							</div>
						<button type="submit" class="btn input-large">Login</button>
						</fieldset>
					</form>
				</div>
			</div>
			<!-- End of Register form -->
		</div>
		<!-- Enf of Menu content -->
	</div>
	<!-- End of Menu -->
	
	<!-- Alerts -->
	<div class="span9 row-fluid">
		<div class="alert alert-error span5"  style="display: {{loginFailureAlert}};">
				<h5 class="alert-heading">Login failure!</h5>
				The username or the password are incorrect, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{loginUsernameEmptyAlert}};">
				<h5 class="alert-heading">Login failure!</h5>
				The username is empty, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{loginPasswordEmptyAlert}};">
				<h5 class="alert-heading">Login failure!</h5>
				The password is empty, please try again. 
		</div>
		<div class="alert alert-sucess span5"  style="display: {{loginSucessAlert}};">
				<h5 class="alert-heading">Login sucess !</h5>
				Welcome {{ user.name }}  
		</div>
		<div class="alert alert-error span5"  style="display: {{registrationPasswordDontMatchAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				Passwords don't match, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{registrationUsernameEmptyAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				The username is empty, please try again. 
		</div>		
		<div class="alert alert-error span5"  style="display: {{registrationEmailEmptyAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				The email adresse is empty, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{registrationPasswordEmptyAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				The password is empty, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{registrationUserNameAlreadyUseAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				This username is already used, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{registrationEmailAdresseAlreadyUseAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				This email adresse is already used, please try again. 
		</div>
		<div class="alert alert-error span5"  style="display: {{termsAndConditionsUncheckedAlert}};">
				<h5 class="alert-heading">Registration failure!</h5>
				You forgot to agreed the Terms and conditions, please try again. 
		</div>
		<div class="alert alert-sucess span5"  style="display: {{registrationSucessAlert}};">
				<h5 class="alert-heading">Registration sucess !</h5>
				Welcome {{ newUserName }}  
		</div>
	</div>
	<!-- End of alerts -->
	
	
	<!-- Modals -->
		<!-- Terms and conditions modal -->
		<div class="modal {{termsAndConditionsModal}}" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cleanAllModals()">×</button>
				<h3 id="termsModalLabel">Terms and conditions</h3>
			</div>
			<div class="modal-body">
				<p>Terms and Conditions </p>
				<p> Here are the terms and conditions...</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cleanAllModals()">Close</button>
			</div>
		</div>	
		<!-- End of Terms and conditions modal -->	
		
		<!-- Forgot Password modal -->
		<div class="modal {{forgotPasswordModal}}" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cleanAllModals()">×</button>
				<h3 id="forgotPasswordModalLabel">Forgot Password</h3>
			</div>
			<div class="modal-body">
				<p> In order to reset your password please enter your email adress</p>
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="control-group" id="resetEmailGrp">
							<label class="control-label" for="resetEmailInput">Email Address</label>
							<div class="controls" >
								<div class="span6">
									<input type="text" id="resetEmailInput" maxlength="254" placeholder="Email" class="span12" ng-model="emailForResetPassword">
								</div>
								<div class="span8">
									<span class="help-inline alert alert-error span8 " style="display: {{invalidForgotEmailAlert}};">Sorry we haven't found your email in our system</span>
									<span class="help-inline alert alert-error span8 " style="display: {{emptyForgotPasswordEmail}};"> Enter your email please...</span>
									<span class="help-inline alert alert-success span8 " style="display: {{successForgotPasswordEmail}};"> A new random password have been send to your email adress.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="resetPasswordButton" ng-click="resetPassword()">Validate</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cleanAllModals()">Close</button>
			</div>
		</div>
		<!-- End of forgot password modal -->
	<!-- End of modals --> 
	
</div>

