<div ng-controller="ProfileController">

	<!-- navigation bar -->
	<div class="navbar navbar-fixed-top force-min-width">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="row-fluid">
					<a class="brand span1" href="#">PIE</a>
					<ul class="nav span8">
						<li class="active" ><a href="/#/profilePage">My Profile</a></li>
						<li ><a href="/#/">About Us</a></li>
						<li ><a href="/#/">Contact Us</a></li>
						<li ><a href="#" ng-click="logout()">Log out</a></li>
					</ul>
				</div>
			</div>
		</div>            
	</div>
	<hr/>
	<hr/>
	<!-- Main container -->
	<div class="container-fluid force-min-width">
		<div class="row-fluid">
			<h1>hello this is the profile page</h1>
			<hr/>
		</div>
		<!-- profile info -->
		<div class="row-fluid span12">
			<div class="span6 row-fluid well">
				<div class=" span3">
					<img src="{{ user.imgUrl }}" class="profile_image" />
				</div>

				<div class="span9">
					<h2>{{ user.name }}</h2>
				</div>
				<hr />
				<div class="span12">
					<hr/>
					<div class="sidebar-nav">
						<div class="well" style="width:300px; padding: 8px 0;">
							<ul class="nav nav-list"> 
							  <li class="nav-header">	 Menu</li>        
							  <li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
							  <li><a href="#"><i class="icon-comment"></i> Comments <span class="badge badge-info">10</span></a></li>
							  <li class="active"><a href="#"><i class="icon-user"></i> Members</a></li>
							  <li class="divider"></li>
							  <li><a href="#"><i class="icon-comment"></i> Profile Settings</a></li>
							  <li><a href="#"><i class="icon-share"></i> Logout</a></li>
							</ul>
						</div>
					</div>
				</div>			
			</div>

		<!-- end of profile info -->
		
		<!-- document info -->
			<div class="span6 row-fluid">
				<h2> My Documents</h2>
				
				<table class="table table-striped">
					<thead>
						<th>Title</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr ng-hide="user.documents.owner.length == 0">
							<td colspan="2"><center><i>Documents you own</i></center></td>
						</tr>
						<tr ng-repeat="document in user.documents.owner">
							<td><a href="/#/editAndDiscuss/{{document.docId}}"> {{document.title}}</i></td>
							<td><i class="icon-trash" ng-click="deleteDocument(document)"></i></td>
						</tr>

						<tr ng-hide="user.documents.collaborator.length == 0">
							<td colspan="2"><center><i>Documents you collaborate on</i></center></td>
						</tr>
						<tr ng-repeat="document in user.documents.collaborator">
							<td><a href="/#/editAndDiscuss/{{document.docId}}"> {{document.title}}</i></td>
							<td><i class="icon-trash" ng-click="deleteDocument(document)"></i></td>
						</tr>

						<tr>
							<td>
								<a href="#/architecture/"><button class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Create a new document</button></a>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		<!-- end of document info --> 
		</div>
	</div>	
</div>
