<div class="navbar navbar-fixed-top" ng-controller="TopBarController" >
	<div class="navbar-inner">
		<a class="brand" href="#"><img src="/resources/pie.svg" /> PIE</a>

		<ul class="nav">
			<li class="divider-vertical"></li>
			<li ng-class="isSectionActive('profile')">
				<a href="/#/profile">
					<i class="icon-user"></i> 
					{{ user.login }}
				</a>
			</li>
			<li class="divider-vertical"></li>			
			<li class="dropdown">
			  <a class="dropdown-toggle "  role="button" data-toggle="dropdown"> 
				<span class="badge badge-important"> {{ user.notifications.length }}</span> Notifications
						<b class="caret"></b>
					  
				 <ul class="dropdown-menu span5" role="menu" aria-labelledby="dLabel">
					<div ng-click="deleteNotification(notification)" ng-repeat="notification in user.notifications" > <li class="divider"></li> <a href="{{notification.path}}"><p class="text-center">{{ notification.text }}</p></a> </div>
				  </ul>  
			  </a>
			</li>
		</ul>

		<ul class="nav pull-right">
			<li class="divider-vertical"></li>
			<li><a href="#" ng-click="logout()"><i class="icon-off"></i>  Log me out</a></li>
		</ul>
	</div>
</div>
