<div class="navbar navbar-fixed-top" ng-controller="TopBarController" >
	<div class="navbar-inner">
		<a class="brand" href="#"><img src="/resources/pie.svg" /> PIE</a>

		<ul class="nav">
			<li class="divider-vertical"></li>
			<li ng-class="isSectionActive('profile')">
				<a href="/#/profile">
					<i class="icon-user"></i> 
					{{ user.login }}
				</a>
			</li>
			<li class="divider-vertical"></li>	


			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="badge badge-important"> {{ user.notifications.length }}</span>
					Notifications <b class="caret"></b>
				</a>

				<ul class="dropdown-menu">
					<li ng-repeat="notification in user.notifications">
				 		<a href="{{notification.path}}" ng-click="deleteNotification(notification)"><p class="text-center">{{ notification.text }}</p></a>
				 	</li>
				</ul>
			</li>
		</ul>

		<ul class="nav pull-right">
			<li class="divider-vertical"></li>
			<li><a href="#" ng-click="logout()"><i class="icon-off"></i>  Log me out</a></li>
		</ul>
	</div>
</div>
